.cards {
    padding-top: 81px;

    @media (max-width: $breakpoint-sm) {
        padding-top: 121px;
    }
}

.cards__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-xl) {
        gap: 40px;
    }

    @media (max-width: $breakpoint-xl) {
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
    }
}

.card-info {
    width: 570px;
    height: 374px;
    background-color: $light-gray;
    padding: 41px 52px;

    @media (max-width: $breakpoint-xl) {
        width: 100%;
    }

    @media (max-width: $breakpoint-lg) {
        width: 100%;
    }
}

.cat_back {
    h3 {
        @media (max-width: $breakpoint-xl) {
            font-size: 30px;
        }
    }

    display: flex;
    gap: 62px;
    padding-bottom: 22px;

    @media (max-width: $breakpoint-xl) {
        gap: 16px;
    }

    @media (max-width: $breakpoint-xl) {
        gap: 36px;
    }
}

.cat_back-navigation {
    ul {
        display: flex;
        gap: 28px;
        padding-top: 14px;
    }

    a {
        color: $black;
    }
}