.instruction {
    padding-top: 70px;

    h5 {
        margin: 0;
    }

    h2 {
        position: absolute;
        z-index: 0;
        margin: 0;
        font-size: 280px;
        line-height: 280px;
        color: $light-gray;
        padding-left: 120px;

        @media (max-width: $breakpoint-md) {
            display: none;
        }
    }
}

.instruction__content {
    display: flex;
    gap: 116px;

    @media (max-width: $breakpoint-xl) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: unset;
    }

    @media (max-width: $breakpoint-lg) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint-md) {
        display: block;
    }
}

.instruction__content-info {
    display: flex;
    margin-top: 30px;

}

.instruction__content-group {
    position: relative;
    z-index: 1;

    img {
        padding-top: 40px;
        padding-bottom: 15px;

        @media (max-width: $breakpoint-md) {
            padding: 0;
        }
    }

    @media (max-width: $breakpoint-md) {
        display: flex;
        gap: 30px;
    }   

}