.mobile-navigation {
    display: none;

    @media (max-width: $breakpoint-md) {
        display: block;
    }

    .mobile-navigation__wrap {
        background-color: $white;
    }

    .icon_menu-open {
        display: block;
    }

    .icon_menu-close {
        display: none;
    }

    .mobile-navigation__header {
        padding: 14px 0;
    }

    .mobile-navigation__content {
        display: none;
        padding: 15px 0;
        border-top: 2px solid $green;

        .navigation__list {
            display: flex;
            flex-direction: column;
            text-align: center;
            row-gap: 30px;
        }
    }

    &.opened {
        .icon_menu-open {
            display: none;
        }

        .icon_menu-close {
            display: block;
        }

        .mobile-navigation__content {
            display: block;
        }
    }
}

.mobile-navigation__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}