$light-green: #68B738;
$green: #65A93C;
$black: black;
$white: #FFFFFF; 
$light-gray: #F2F2F2;
$pale-gray: #CDCDCD;

$container-sm: 540px; 
$container-md: 720px; 
$container-lg: 960px; 
$container-xl: 1152px;

$breakpoint-xs: 0; 
$breakpoint-sm: 576px; 
$breakpoint-md: 768px; 
$breakpoint-lg: 992px; 
$breakpoint-xl: 1230px;